# Logs
*.log
creation.log

# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Expo
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Backend uploads
backend/uploads/
